In [1]:
import re
from datetime import datetime
from astropy.time import Time
import csv

In [2]:
with open('r1875-ivs-analysis-report.txt') as file:
    file_contents = file.read()
    print(file_contents)

       IVS Analysis Report for R1875 ($19JAN02XA)
       This report is the official IVS analysis report that corresponds to
       the database maintained by the IVS Data Centers for this session.
   (Analyzed by David Gordon, Goddard Space Flight Center.
    Spoolfile source: interactive solve/nuSolve analysis.)

Problems: KATH12M had DBBC problems. The ambiguity resolution was extremely
           difficult, almost but not quite impossible.
          YARRA12M has small clock breaks at ~02:00 and ~11:31 UTC.
          MATERA did not participate, brake problems.
          NYALES20 missed ~7 hours due to strong winds.

Parameterization comments: None.

Other comments: None.

-----------------------------------------

Session Statistics

  Observations:     7426 scheduled
                    4908 correlated (in database)
                    4713 recoverable (usable)
                    4653 used
  Session fit:        32.364 ps

-----------------------------------------

Station Performance

                           Number of Observations

                    Scheduled   Recoverable*        Used   % of scheduled
                                                              obs used

  HART15M                1104           757          734        66.5%
  ISHIOKA                1718          1386         1370        79.7%
  KATH12M                 987           653          637        64.5%
  KOKEE                  1337          1066         1060        79.3%
  MATERA                 1832        MISSED       MISSED         0.0%
  NYALES20               1871          1073         1064        56.9%
  ONSALA60               1832          1288         1276        69.7%
  SEJONG                 1338          1093         1082        80.9%
  WETTZ13N               1892          1336         1322        69.9%
  YARRA12M                941           774          761        80.9%
  ---------------   ---------   -----------    ---------       ------
  Station Total**        7426          4713         4653        62.7%

  * Recoverable: can be included in the solution.
  ** Total includes distinct observations only.

  MISSED:    Station was scheduled, but it did not observe.
  NOT CORR:  Station was scheduled but not correlated.
  NOT USED:  Usable data was generated for this station,
             but the analyst rejected it all.

-----------------------------------------

Source Performance

                    Number of Observations

                Scheduled  Correlated*    Used      % of scheduled
                                                       obs used

  2302+232              4           4        2           50.0%
  2232-488              6           5        5           83.3%
  NGC1052               6           4        1           16.7%
  1842+681             87          47       47           54.0%
  0507+179             57          36       36           63.2%
  0919-260             28          17       10           35.7%
  OK290                88          50       50           56.8%
  1145-071             41          26       25           61.0%
  1252+119             26          22       19           73.1%
  0059+581            700         440      438           62.6%
  0104-408             50          41       37           74.0%
  0119+041             36          18       18           50.0%
  0229+131            117          69       59           50.4%
  0530-727             13          13       13          100.0%
  0727-115            280         232      220           78.6%
  0823+033             88          50       49           55.7%
  OJ287               380         268      265           69.7%
  0955+476            438         294      286           65.3%
  1034-293             32          25       18           56.2%
  1057-797             94          81       78           83.0%
  1124-186             38          29       29           76.3%
  1128+385            268         175      172           64.2%
  1144-379            116          96       71           61.2%
  1300+580             40          16       16           40.0%
  1334-127            150         106      103           68.7%
  1424-418             73          62       59           80.8%
  1519-273             10           3        3           30.0%
  1741-038            195         135      133           68.2%
  1921-293             32          25       23           71.9%
  1954-388             13           7        7           53.8%
  2052-474             27          17       16           59.3%
  3C446               239         179      163           68.2%
  2255-282             42          30       25           59.5%
  2318+049            137          91       84           61.3%
  0346-279              6           6        3           50.0%
  0420-014             80          53       52           65.0%
  1324+224             11           6        6           54.5%
  1636+473             92          50       47           51.1%
  1846+322              3           3        3          100.0%
  1909+161             11          11        2           18.2%
  2000+472            201         119       93           46.3%
  2229+695            324         176      175           54.0%
  2355-106            134         102       98           73.1%
  0025+197             10          10       10          100.0%
  0529+483            385         260      260           67.5%
  0716+714            701         447      423           60.3%
  0748+126            360         252      234           65.0%
  1053+704             37          23       23           62.2%
  1617+229             89          47       40           44.9%
  2059+034              8           8        8          100.0%
  2144+092             76          46       46           60.5%
  2309+454             81          56       56           69.1%
  0322+222             16          14       12           75.0%
  0537-286             18           8        7           38.9%
  1759-396             17          13       12           70.6%
  2008-159             45          24       24           53.3%
  0308-611             28          21       19           67.9%
  1502+036             10           9        9           90.0%
  1657-261             13           8        4           30.8%
  1806+456            235         121      115           48.9%
  0131-522             17          16       14           82.4%
  0202+319            210         137      137           65.2%
  NRAO150              31          19       19           61.3%
  1243-072              5           3        3           60.0%
  1504+377              7           7        2           28.6%
  1751+288            193         106      105           54.4%
  2126-158             21          14       12           57.1%
  ------------  ---------  ----------   ------          ------
  Source Total       7426        4908     4653           62.7%

 * Correlated: included in database

-----------------------------------------

Baseline Performance

                                 Number of Observations

                         Scheduled   Recoverable*         Used   % of scheduled
                                                                    obs used

  HART15M-ISHIOKA               71            48            45        63.4%
  HART15M-KATH12M               96            57            54        56.2%
  HART15M-KOKEE                  0      NOT CORR      NOT CORR         0.0%
  HART15M-MATERA               206        MISSED        MISSED         0.0%
  HART15M-NYALES20             128            88            85        66.4%
  HART15M-ONSALA60             167           161           159        95.2%
  HART15M-SEJONG                68            59            56        82.4%
  HART15M-WETTZ13N             200           183           179        89.5%
  HART15M-YARRA12M             168           161           156        92.9%
  ISHIOKA-KATH12M              146           104           102        69.9%
  ISHIOKA-KOKEE                312           305           302        96.8%
  ISHIOKA-MATERA               178        MISSED        MISSED         0.0%
  ISHIOKA-NYALES20             248           177           175        70.6%
  ISHIOKA-ONSALA60             187           182           181        96.8%
  ISHIOKA-SEJONG               276           274           272        98.6%
  ISHIOKA-WETTZ13N             191           187           185        96.9%
  ISHIOKA-YARRA12M             109           109           108        99.1%
  KATH12M-KOKEE                113            78            77        68.1%
  KATH12M-MATERA                33        MISSED        MISSED         0.0%
  KATH12M-NYALES20              42            31            31        73.8%
  KATH12M-ONSALA60              30            24            23        76.7%
  KATH12M-SEJONG               162           107           103        63.6%
  KATH12M-WETTZ13N              34            26            26        76.5%
  KATH12M-YARRA12M             331           226           221        66.8%
  KOKEE-MATERA                 137        MISSED        MISSED         0.0%
  KOKEE-NYALES20               210           136           136        64.8%
  KOKEE-ONSALA60               148           142           142        95.9%
  KOKEE-SEJONG                 182           180           179        98.4%
  KOKEE-WETTZ13N               162           159           159        98.1%
  KOKEE-YARRA12M                73            66            65        89.0%
  MATERA-NYALES20              332        MISSED        MISSED         0.0%
  MATERA-ONSALA60              389        MISSED        MISSED         0.0%
  MATERA-SEJONG                116        MISSED        MISSED         0.0%
  MATERA-WETTZ13N              403        MISSED        MISSED         0.0%
  MATERA-YARRA12M               38        MISSED        MISSED         0.0%
  NYALES20-ONSALA60            365           251           250        68.5%
  NYALES20-SEJONG              155           121           120        77.4%
  NYALES20-WETTZ13N            361           243           242        67.0%
  NYALES20-YARRA12M             30            26            25        83.3%
  ONSALA60-SEJONG              125           107           107        85.6%
  ONSALA60-WETTZ13N            390           390           383        98.2%
  ONSALA60-YARRA12M             31            31            31       100.0%
  SEJONG-WETTZ13N              122           119           119        97.5%
  SEJONG-YARRA12M              132           126           126        95.5%
  WETTZ13N-YARRA12M             29            29            29       100.0%
  -----------------      ---------   -----------    ----------       ------
  Baseline Total              7426          4713          4653        62.7%

  * Recoverable: can be included in the solution.

  MISSED:     Baseline was scheduled, but at least one of the sites
              did not observe.
  NOT CORR:   Baseline was scheduled but not correlated.
  NO DATA:    The baseline's stations were both correlated,
              but they did not observe together.
  DESELECTED: Usable data was generated for the baseline,
              but the analyst rejected it.

In [2]:
with open('NEXT_VERSION_TESTING/analysis_reports/r1821_report.txt') as file:
    contents = file.read()
    sections = contents.split('-----------------------------------------')

In [3]:
def problemFinder(text_section):
    stations = ['KATH12M', 'YARRA12M', 'HOBART12', 'HOBART26']
    problem_bool = []
    problem_string = []
    for ant in stations:
        regex = ant + '.*\n[\s]{11}.*|' + ant + '.*$'
        problem = re.findall(regex,text_section,re.MULTILINE)
        if len(problem) > 0:
            problem_bool.append(True)
            problem_string.append(problem[0].replace('\n', ""))
        else:
            problem_bool.append(False)
            problem_string.append('')
    return problem_bool, problem_string

In [4]:
problemFinder(sections[0])

([False, True, False, False],
 ['', 'YARRA12M: two small clock breaks, at ~1:56 and ~2:00.', '', ''])

In [5]:
def percent2decimal(percent_string):
    return float(percent_string.strip('%'))/100


def stationPerformance(text_section):
    stations = ['KATH12M', 'YARRA12M', 'HOBART12', 'HOBART26']
    station_performance = []
    for ant in stations:
        regex = ant + ".*"
        performance = re.findall(regex,text_section,re.MULTILINE)
        if len(performance) > 0:
            percentage = [s for s in performance[0].split() if "%" in s]
            performance = percent2decimal(percentage[0])
            station_performance.append(performance)
        else:
            station_performance.append(None)
    
    return station_performance

In [6]:
stationPerformance(sections[2])

[0.603, 0.633, None, None]

In [7]:
def metaData(text_section):
    vgosDBtag = re.findall("(?<=\$).{9}",text_section,re.MULTILINE)
    date = re.findall("(?<=\$).{7}",text_section,re.MULTILINE)
    date = datetime.strptime(date[0], '%y%b%d').strftime('%Y-%m-%d')
    date_mjd = Time(date).mjd
    exp_code = re.findall("(?<=Analysis Report for\s)(.*?(?=\s))",text_section,re.MULTILINE)
    analyser = re.findall("\S.*(?=\sAnalysis Report for\s)",text_section,re.MULTILINE)
    if len(analyser) == 0:
        analyser = "-"
    return exp_code[0], analyser[0], date, date_mjd, vgosDBtag[0]
    # pretty sure this doesn't work post-2099, but like... you shouldn't be using this trash then... right?

In [8]:
vgosDBtag = re.findall("(?<=\$).{9}",sections[0],re.MULTILINE)
date = re.findall("(?<=\$).{7}",sections[0],re.MULTILINE)
date = datetime.strptime(date[0], '%y%b%d').strftime('%Y-%m-%d')
exp_code = re.findall("(?<=Analysis Report for\s)(.*?(?=\s))",sections[0],re.MULTILINE)
analyser = re.findall("\S.*(?=\sAnalysis Report for\s)",sections[0],re.MULTILINE)

In [9]:
metaData(sections[0])

('R1821', 'IVS', '2017-12-18', 58105.0, '17DEC18XA')

In [10]:
with open('NEXT_VERSION_TESTING/analysis_reports/r1821_report.txt') as file:
    contents = file.read()
    sections = contents.split('-----------------------------------------')
    
meta = metaData(sections[0])
performance = stationPerformance(sections[2])
problems = problemFinder(sections[0])

In [11]:
import MySQLdb as mariadb
conn = mariadb.connect(user='auscope', passwd='password', db='auscope_test')
cursor = conn.cursor()

In [12]:
sql_command = []
station_id = ['Ke', 'Yg', 'Hb', 'Ho']
for i in range(0, len(performance)):
    if performance[i] == None:
        break
    else:
        sql_station = "INSERT IGNORE INTO " + station_id[i] + " (ExpID, Performance, Date, Problem, Problem_String, Analyser) VALUES ('{}', {},'{}', {}, '{}' , '{}');".format(meta[0], performance[i], meta[2], problems[0][i], problems[1][i], meta[1])
        with open(station_id[i] + '_test.csv','a') as file:
            station_writer = csv.writer(file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
            station_writer.writerow([meta[0], performance[i], meta[2], problems[0][i], problems[1][i], meta[1]])
        sql_command.append(sql_station)

# this snippet of code essentially checks if a performance metric exists (and therefore the station participated in the experiment)
# If this is true, it generates an SQL command string for that station.

In [ ]:
with open(station_id[1] + '_test.csv','a') as file:
    with open(station_id[1] + '_test.csv','a'))
            station_writer = csv.writer(file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
            station_writer.writerow([meta[0], performance[i], meta[2], problems[0][i], problems[1][i], meta[1]])
        sql_command.append(sql_station)

In [14]:
sql_command

["INSERT IGNORE INTO Ke (ExpID, Performance, Date, Problem, Problem_String, Analyser) VALUES ('R1821', 0.603,'2017-12-18', False, '' , 'IVS');",
 "INSERT IGNORE INTO Yg (ExpID, Performance, Date, Problem, Problem_String, Analyser) VALUES ('R1821', 0.633,'2017-12-18', True, 'YARRA12M: two small clock breaks, at ~1:56 and ~2:00.' , 'IVS');"]

In [15]:
for i in range(0,len(sql_command)):
    cursor.execute(sql_command[i])

conn.commit()
conn.close()

In [16]:
conn = mariadb.connect(user='root', passwd='', db='auscope_test')
cursor = conn.cursor()
query = "SELECT ExpID FROM Ke"
cursor.execute(query)
result_list = [item for sublist in cursor.fetchall() for item in sublist]
print(result_list)

OperationalError: (1698, "Access denied for user 'root'@'localhost'")

In [ ]:
station_id = ['Ke', 'Yg', 'Hb', 'Ho']
conn = mariadb.connect(user='root', passwd='')
cursor = conn.cursor()
query = "CREATE OR REPLACE DATABASE auscope_test;"
cursor.execute(query)
conn.commit()
query = "USE auscope_test"
cursor.execute(query)
conn.commit()

for ant in station_id:
    query = "CREATE TABLE IF NOT EXISTS "+ ant + " (ExpID VARCHAR(10) NOT NULL PRIMARY KEY, Performance decimal(4,3) NOT NULL, Date DATETIME, Pos_X decimal(14,2), Pos_Y decimal(14,2), Pos_Z decimal(14,2), Problem BIT(1), Problem_String VARCHAR(100), Analyser VARCHAR(10) NOT NULL);" 
    cursor.execute(query)
    conn.commit()
    
conn.close()

In [ ]:
station_id = ['Ke', 'Yg', 'Hb', 'Ho']
conn = mariadb.connect(user='root', passwd='')
cursor = conn.cursor()
query = "CREATE DATABASE IF NOT EXISTS auscope_test;"
cursor.execute(query)
conn.commit()
query = "USE auscope_test"
cursor.execute(query)
conn.commit()
for ant in station_id:
    query = "CREATE TABLE IF NOT EXISTS "+ ant + " (ExpID VARCHAR(10) NOT NULL PRIMARY KEY, Performance decimal(4,3) NOT NULL, Date DATETIME, Pos_X decimal(14,2), Pos_Y decimal(14,2), Pos_Z decimal(14,2), Problem BIT(1), Problem_String VARCHAR(100), Analyser VARCHAR(10) NOT NULL);" 
    cursor.execute(query)
    conn.commit()
    
conn.close()